﻿@using (Html.BeginForm("Search", "Habitacoes", FormMethod.Post))
{
    <div class="form-inline d-flex">
        <input type="text" name="TextoAPesquisar" id="TextoAPesquisar"
               placeholder="Pesquisar uma Habitação" class="form-control form-control-sm" />
        <button type="submit" class="btn btn-default ms-2 me-2">
            <svg bootstrap-icon="Search" class="text-warning" width="24" height="24" aria-label="Search"></svg>
        </button>
    </div>
}
