@model Trabalho_Pratico.Models.ArrendamentoEstadoHabitacao

@{
    ViewData["Title"] = "Entregar Habitação";
}

<h1>Entregar Habitação</h1>

<h4>Entregar habitação ao cliente @Model.Arrendamento.Cliente.UserName</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Entrada">
            <input type="hidden" name="ArrendamentoId" value="@Model.ArrendamentoId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DanosHabitacao" /> @Html.DisplayNameFor(model => model.DanosHabitacao)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Observacoes" class="control-label"></label>
                <textarea asp-for="Observacoes" class="form-control"></textarea>
                <span asp-validation-for="Observacoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Entregar Habitação" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}